tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: lightgreen;
}

[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
  background-color: darkblue; /* Example for dark mode */
}
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n+1) {
  background-color: darkgreen; /* Example for dark mode */
}